body {
    background: url(../images/marble.jpg)
}
h2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

h1 {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

.col-md-6{
    background-color: whitesmoke
}
.col-md-12{
    background-color: whitesmoke
}

